[submodule "sfml"]
	path = sfml
	url = https://github.com/SFML/sfml
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
